<!-- Namespace che corrisponde al percorso del tuo modello Java -->
<mapper namespace="com.example.YourNamespace.UserMapper">

    <resultMap id="UserResultMap" type="com.example.YourNamespace.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="email" column="email" />
        <result property="name" column="name" />
        <result property="surname" column="surname" />
    </resultMap>

    <select id="getAllUsers" resultMap="UserResultMap">
        SELECT * FROM user
    </select>

    <!-- Altre query per le operazioni sulle tabelle user -->

</mapper>
